## Módulo: Analytics Engineering

## Aula 2 - Parte 1

### Programação da Aula 2:

> ### 1. **Princípios de qualidade de dados e seus benefícios**:
>
> ### 2. **Qualidade de dados na prática**;
>
> ### 3. **Desenvolvimento de exercício**;

#### Link para o formulário de Feedback da aula:

https://forms.gle/8aCVnUDwASzeioLN8

### **Princípios da qualidade de dados**

- **Precisão:** Os dados precisos são dados que estão corretos e livres de erros. Eles são baseados em fontes confiáveis e são atualizados regularmente. A precisão dos dados pode ser afetada por erros de entrada manual, integração de dados de várias fontes, omissão de dados e duplicação de dados. Para garantir a precisão dos dados, é importante realizar verificações regulares dos dados para identificar e corrigir erros.

- **Consistência:** Os dados consistentes são dados que estão no mesmo formato e mantêm as mesmas definições em todos os sistemas e processos. A consistência dos dados pode ser afetada pela falta de padronização dos dados, pela variação dos nomes de campos e pela falta de integridade referencial. Para garantir a consistência dos dados, é importante estabelecer padrões para a entrada de dados e verificar regularmente se esses padrões estão sendo seguidos.

- **Confiabilidade:** Os dados confiáveis são dados que são precisos e consistentes, mas também são acessíveis e seguros. Eles são protegidos contra perda, roubo e corrupção, e podem ser acessados por usuários autorizados. A confiabilidade dos dados pode ser afetada pela falta de segurança de dados, pela falta de backups regulares e pela falta de controle de acesso aos dados. Para garantir a confiabilidade dos dados, é importante implementar práticas de segurança de dados, como backups regulares e controles de acesso.

- **Relevância:** Os dados relevantes são dados que são necessários para as decisões empresariais. Eles são coletados com base nos requisitos do negócio e são relevantes para os usuários finais. A relevância dos dados pode ser afetada pela coleta de dados desnecessários ou pela falta de coleta de dados importantes. Para garantir a relevância dos dados, é importante estabelecer um processo para identificar os requisitos de dados do negócio e coletar apenas os dados necessários.

### **Benefícios da qualidade de dados**

- **Tomada de decisão mais informada:** Dados precisos, consistentes, confiáveis e relevantes permitem que as empresas tomem decisões informadas com base em informações precisas e confiáveis.

- **Redução de custos:** Dados de baixa qualidade podem levar a decisões equivocadas, o que pode levar a custos adicionais para a empresa. Ao melhorar a qualidade dos dados, as empresas podem reduzir os custos desnecessários associados à tomada de decisão equivocada.

- **Melhoria da eficiência:** Dados precisos e consistentes podem ajudar a melhorar a eficiência dos processos empresariais, reduzindo o tempo gasto na correção de erros e retrabalho.

- **Aumento da satisfação do cliente:** Dados precisos e relevantes permitem que as empresas entendam melhor as necessidades de seus clientes e ofereçam soluções personalizadas para atender a essas necessidades. Isso pode levar a um aumento na satisfação do cliente e na fidelidade à marca.

### **Qualidade de dados na prática**

### Instalação das biblioteca para verificação do perfil dos dados

In [ ]:
# !pip install ydata_profiling

### Chamada da bibliotecas

In [2]:
import pandas as pd
from ydata_profiling import ProfileReport

### Dataset sobre preço de carros usados:

https://data.world/data-society/used-cars-data

In [5]:
df = pd.read_csv("data/test.csv", encoding='ISO-8859-1')
df.head(3)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997

### Comando "describe" que retorna algumas informações do DataFrame

In [6]:
df.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,42502.000000,50000.000000,50000.000000,50000.000000,50000.000000,48965.000000,50000.000000,50000.000000
mean,4182.004291,16.838260,22.921480,68.772640,21.052640,30.080200,32.279581,1491.304305
std,3174.109304,116.396848,129.314804,451.602363,14.860397,196.984121,5.106238,8595.647887
min,303.645417,-1.000000,0.000000,1.000000,-5.000000,0.000000,20.509652,0.000000
25%,1625.188333,3.000000,4.000000,8.000000,10.000000,4.000000,28.061040,32.222388
50%,3086.305000,6.000000,5.000000,13.000000,18.000000,7.000000,32.280390,74.733349
75%,5934.189094,7.000000,7.000000,20.000000,28.000000,10.000000,36.468591,176.157491
max,15204.633333,1798.000000,1499.000000,5799.000000,67.000000,2593.000000,48.540663,82398.000000

### Relatório com informações do perfil dos dados a partir da biblioteca "ydata_profiling"

In [7]:
profile = ProfileReport(
    df, title="Pandas Profiling Report")  # cria o relatório

profile.to_file("resultados.html")  # salva os resultados em um arquivo

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Tipos de cada coluna no Dataframe

In [ ]:
df.dtypes

### Cria um dataframe copia para começar a limpeza dos dados. O primeiro passo será definir o tipo das colunas que não serão de texto.

In [ ]:
df_cln = df.copy()

list_datetime = ['dateCrawled', 'dateCreated',
                 'lastSeen']  # colunas do tipo de data e hora
for column in list_datetime:
    # transforma a coluna para o tipo "datetime" com o formato passado
    df_cln[column] = pd.to_datetime(df_cln[column], format='%Y-%m-%d %H:%M:%S')

list_int = ['yearOfRegistration', 'monthOfRegistration',
            'nrOfPictures', 'postalCode']  # colunas do tipo inteiro
for column in list_int:
    # transforma a coluna para o tipo inteiro
    df_cln[column] = df_cln[column].astype("int")

list_float = ['price', 'powerPS', 'kilometer']  # colunas do tipo float
for column in list_float:
    # transforma a coluna para o tipo float
    df_cln[column] = df_cln[column].astype("float")

### Verifica os novos tipos de cada coluna

In [ ]:
df_cln.dtypes

### Verifica as colunas com valores nulos

In [ ]:
# soma a quantidade de valores nulos em cada coluna
res_missing = df_cln.isna().sum()
# calcula o percentual de casos nulos
res_missing = (res_missing/len(df_cln))*100
# ordena pelas colunas com mais casos nulos
res_missing.sort_values(ascending=False)

### Função para verificar os casos nulos

In [ ]:
def check_missing(df):
    res_missing = df_cln.isna().sum()
    res_missing = (res_missing/len(df_cln))*100
    return res_missing

In [ ]:
check_missing(df_cln).sort_values(ascending=False)

### Preenchimento dos campos nulos com valores fixos

In [ ]:
df_cln['notRepairedDamage'].value_counts()

In [ ]:
df_cln['notRepairedDamage'] = df_cln['notRepairedDamage'].fillna("no_info")

### Preenchimento dos campos nulos com valores fixos

In [ ]:
df_cln['vehicleType'].value_counts()

In [ ]:
df_cln['vehicleType'] = df_cln['vehicleType'].fillna("no_info")

### Preenchimento dos campos nulos com o campo que mais se repete

In [ ]:
df_cln['fuelType'].value_counts()

In [ ]:
high_freq = df_cln['fuelType'].value_counts().idxmax()
df_cln['fuelType'] = df_cln['fuelType'].fillna(high_freq)

### Preenchimento dos campos nulos com valores fixos de outra coluna

In [ ]:
df_cln['model'] = df_cln['model'].fillna(df_cln['vehicleType'])

### Preenchimento dos campos nulos com valores fixos de outra coluna

In [ ]:
df_cln['gearbox'] = df_cln['gearbox'].fillna("no_info")

### Verifica os resultados nulos após o tratamento

In [ ]:
check_missing(df_cln).sort_values(ascending=False)

### Eliminando os campos duplicados

In [ ]:
print("N. de linhas antes de remover duplicadas:", len(df_cln))
df_cln = df_cln.drop_duplicates()
print("N. de linhas depois de remover duplicadas:", len(df_cln))

### Eliminando as colunas constantes

In [ ]:
list_constant = [col for col in df_cln.columns if df_cln[col].nunique() == 1]
list_constant

In [ ]:
print("N. de colunas antes de remover colunas constantes:", len(df_cln.columns))
df_cln = df_cln.drop(list_constant, axis=1)
print("N. de colunas depois de remover colunas constantes:", len(df_cln.columns))

### Eliminando as colunas extremamente desbalanceadas

In [ ]:
df_cln['offerType'].value_counts(normalize=True)

In [ ]:
df_cln['offerType'].value_counts(normalize=True).values[0]

In [ ]:
list_imbalance = []
limit = 0.98  # limite para o caso que mais se repete
for col in df_cln.columns:
    # armazena o valor de maior repetição
    perc = df_cln[col].value_counts(normalize=True).values[0]
    if perc > limit:  # se for mais que o limite armazena na lista das colunas desbanlanceadas
        list_imbalance.append(col)
        print(col, perc)

In [ ]:
df_cln = df_cln.drop(list_imbalance, axis=1)

### Verificação dos resultados depois de eliminar as colunas extremamente desbalanceadas

In [ ]:
list_imbalance = []
limit = 0.98
for col in df_cln.columns:
    perc = df_cln[col].value_counts(normalize=True).values[0]
    if perc > limit:
        list_imbalance.append(col)
        print(col, perc)

### Verificação da precisão dos dados

### Os meses precisam estar no intervalo: 1 <= meses <= 12

In [ ]:
df_cln[(df_cln['monthOfRegistration'] < 1) |
       (df_cln['monthOfRegistration'] > 12)]

In [ ]:
df_cln.loc[(df_cln['monthOfRegistration'] < 1) | (
    df_cln['monthOfRegistration'] > 12), 'monthOfRegistration'] = -1

### Verificação do resultado

In [ ]:
df_cln[((df_cln['monthOfRegistration'] < 1) | (
    df_cln['monthOfRegistration'] > 12)) & (df_cln['monthOfRegistration'] != -1)]

### Os meses precisam estar no intervalo: 1900 <= ano <= 2016

In [ ]:
df_cln.loc[(df_cln['yearOfRegistration'] < 1900) | (
    df_cln['yearOfRegistration'] > 2016), 'yearOfRegistration'] = 1900

### Verificação do resultado

In [ ]:
df_cln[(df_cln['yearOfRegistration'] < 1900) |
       (df_cln['yearOfRegistration'] > 2016)]

In [ ]:
df_cln.describe()

### Os preços precisam ser maiores que 0

In [ ]:
df_cln = df_cln[df_cln['price'] > 0]

In [ ]:
df_cln.describe()

### Eliminação de Outliers

#### Exemplo de distribuição e quantil

<img src="https://media.geeksforgeeks.org/wp-content/uploads/20201127112813/NORMALDISTRIBUTION-660x362.png"  width="80%" height="60%">

In [ ]:
# valor do quantil de 2% a esquerda
df_cln[['price', 'powerPS']].quantile(.02)

In [ ]:
# valor do quantil de 2% a direita
df_cln[['price', 'powerPS']].quantile(.98)

In [ ]:
print("Quantidade de linhas antes de eliminar os outliers:", len(df_cln))
# colunas para considerar a eliminação de outliers
list_quantile = ['price', 'powerPS']
df_aux = df_cln.copy()
for col in list_quantile:
    low_limit = df_aux[col].quantile(.02)  # valor do quantil de 2% a esquerda
    high_limit = df_aux[col].quantile(.98)  # valor do quantil de 2% a direita
    df_cln = df_cln[(df_cln[col] > low_limit) & (
        df_cln[col] < high_limit)]  # filtra a partir do quantil

print("Quantidade de linhas antes de eliminar os outliers:", len(df_cln))

In [ ]:
df_cln.describe()

### Gera os novos resultados

In [ ]:
profile = ProfileReport(df_cln, title="Pandas Profiling Report")

profile.to_file("novos_resultados.html")